@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	background-color: #f1a359;
	color: #fff;
	padding: 16px;
}

.header-logo {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

/* スライダー内の画像を幅100%に */
.swiper-slide img {
	width: 100%;
}

div.swiper-container {
	margin-bottom: 60px;
}

/* 前後ボタンの色 */
.swiper-button-next::after,
.swiper-button-prev::after{
	color: #fff;
}

/* ページネーション現在地の色 */
.swiper-pagination-bullet-active{
	background-color: #fff;
}